<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">

    
    <title>Document</title>
</head>
<body>
    <h1>yhaa graph dikhega</h1>
    
    <div id="div1"></div>
    <div class="image-container">
        
        <img class="gra"src="<%= leetimage %>" alt="hola">
        <img class="gra" src="<%= codeimage %>" alt="hola">
    </div>
        
    <div class="comparison-table" >
        <table >
            <thead>
                <tr>
                  
                    <th>Item 1</th>
                    <th>Item 2</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Detail about Item 1</td>
                    <td>Detail about Item 2</td>
                </tr>
                <tr>
                    <td>Detail about Item 1</td>
                    <td>Detail about Item 2</td>
                </tr>
                <tr>
                    <td>Detail about Item 1</td>
                    <td>Detail about Item 2</td>
                </tr>
                <tr>
                    <td>Detail about Item 1</td>
                    <td>Detail about Item 2</td>
                </tr>
                <tr>
                    <td>Detail about Item 1</td>
                    <td>Detail about Item 2</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/navbar.css">
    <title>Graphs and Comparison</title>

</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-logo">
                <h1>Rankers</h1>
            </div>
            <div class="navbar-links">
                <a href="/home">Home</a>
            </div>
        </div>
        <div class="navbar-buttons">
            
            <button ><a href="/" style="text-decoration: none;color: black;">

            Logout</a></button>
        </div>
    </nav>
    <div class="background-animation"></div>
    <h1>Graphs and Comparison</h1>
    
    <div id="div1"></div>
    <div class="image-container">
        <img class="gra"src="<%= leetimage %>" alt="hola">
        <img class="gra" src="<%= codeimage %>" alt="hola">
    </div>
        
    <div class="comparison-table">
        <table>
            <thead>
                <tr>
    <th style=" border-top-left-radius:15px">Leet Code</th>
    <th style=" border-top-right-radius:15px">Code Forces</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Current Rating: <%=leetRating%></td>
                    <td>Current Rating: <%=codeRating%></td>
                </tr>
                <tr>
                    <td>No. of contest: <%=leetContest%></td>
                    <td>No. of contest: <%=codeContest%></td>
                </tr>
                <tr>
                    <td>Last: <%=leetLast%></td>
                    <td>Last: <%=codeLast%></td>
                </tr>
                
                
            </tbody>
        </table>
    </div>
</body>
</html>
